<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="./css/libs/bootstrap.min.css">
    <script src="./js/libs/vue.min.js"></script>
    <script type="text/javascript" src="./eel.js"></script>
    <script src="./js/libs/jquery-3.5.1.min.js"></script>
    <script src="./js/libs/popper.min.js"></script>
    <script src="./js/libs/bootstrap.min.js"></script>
    <script src="./js/libs/d3.min.js"></script>

    <title>BJL模擬Ver2</title>
    <style>
        svg {
            /* float: left; */
            display: inline-block;
        }

        .static-div {
            width: 200px;
            display: inline-block;
            vertical-align: middle;
            /* float: right; */

        }

        .card-holder {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            /* justify-content: center; */
            /* align-items: center; */
        }

        .card {
            width: 5%;
            height: auto;
        }

        .card-image {
            width: 100%;
            height: auto;
        }

        .pagebutton-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
        }

        .page-btn {
            margin: 0 0.2rem;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">百家樂模擬</a>
    </nav>
    <div id="app" class="container-fluid" style="margin-top: 20px;">

        <div class="row" style="margin: 20px 0">

            <div class="col-12">

                <div class="row" style="margin: 20px 0">

                    <div class="col-2" style="padding-left: 0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">最高長龍</span>
                            </div>
                            <input type="text" placeholder="default: 6" class="form-control" v-model="maxLength">
                        </div>
                    </div>

                    <div class="col-2" style="padding-left: 0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">最長單跳</span>
                            </div>
                            <input type="text" class="form-control" v-model="maxSingleJump">
                        </div>
                    </div>

                    <div class="col-2" style="padding-left: 0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">最長雙跳</span>
                            </div>
                            <input type="text" class="form-control" v-model="maxDoubleJump">
                        </div>
                    </div>

                    <div class="col-2">
                        <button id="starts" class="btn btn-primary" v-on:click="getData"
                            style="width: 100%">模擬大路</button>
                    </div>

                </div>

                <hr>

                <div v-if="isDone" class="row">
                    <div class="btn-group" role='group' aria-label="setSelector">
                        <button type="button" class='btn btn-primary' v-for="(data, index) in multiRoads"
                            v-on:click="changeSets(index)">第{{Number(index.slice(1)) + 1}}牌組
                            ({{ (data.rate*100).toFixed(2) }}%)</button>

                    </div>
                </div>

                <div class="row" v-if="isFiltered" style="margin: 20px 0">

                    <div>
                        <h2><strong>第 {{ Number(showedSets.slice(1))+1 }} 副牌</strong></h2>
                        <p><strong>符合條件數目: </strong> {{filterStat.goodNumber}}</p>
                        <p><strong>符合切牌位置: </strong>
                            <a v-for="(sets, index) in filterStat.goodSets" :href="`#road${sets}`">{{sets}}, </a>
                        </p>

                    </div>

                </div>
                <div class="row">

                    <div class="col-2">
                        <button id="showCardbtn" class="btn btn-primary" v-on:click="showModal" style="width: 100%"
                            v-if="isFiltered">顯示牌組</button>
                    </div>

                </div>

            </div>

        </div>

        <div v-if="!isLoading" id="road-container">

            <div class="row">
                <div class="col-7" id="road-holder" style="margin-bottom: 20px; width: 100%; min-width: 1800px;"></div>
            </div>

        </div>
        
        <h2 v-if="!isLoading & !isDone" class="display-4">牌組計算中....</h2>

        <div class="modal" id="model-test">
            <div class="model-xl">
                <div class="modal-content">

                    <div class="modal-body">
                        <div>第{{showedPage+1}}頁</div>
                        <div class="card-holder">
                            <img class="card" v-for="(card, index) in showedCard" :src=`./image/${card}.png`> </div>
                                <div class="page-button-holder">
                            <button type="button" class="btn btn-primary btn-sm page-btn"
                                v-on:click="()=>{this.showedPage=0}">1</button>
                            <button type="button" class="btn btn-primary btn-sm page-btn"
                                v-on:click="()=>{this.showedPage=1}">2</button>
                            <button type="button" class="btn btn-primary btn-sm page-btn"
                                v-on:click="()=>{this.showedPage=2}">3</button>
                            <button type="button" class="btn btn-primary btn-sm page-btn"
                                v-on:click="()=>{this.showedPage=3}">4</button>
                            <button type="button" class="btn btn-primary btn-sm page-btn"
                                v-on:click="()=>{this.showedPage=4}">5</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



    <script>
        var app = new Vue({
            el: '#app',
            data: {
                multiRoads: {},
                showedSets: 'A0',
                realCards: [],
                currRoad: {},
                isLoading: true,
                maxX: 40,
                maxY: 15,
                showedPage: 0,
                showedCard: [],
                maxLength: "",
                maxSingleJump: "",
                maxDoubleJump: "",
                filterStat: {},
                isFiltered: false,
                isDone: false

            },
            methods: {
                getData: function () {
                    let self = this;
                    self.isLoading = true;
                    self.isFiltered = false;
                    self.showedPage = 0;
                    self.showedSets = 'A0';
                    self.isLoading = false;
                    self.isDone = false;

                    var maxLen = self.maxLength !== "" ? Number(self.maxLength) : null;
                    var maxSingle = self.maxSingleJump !== "" ? Number(self.maxSingleJump) : null;
                    var maxDouble = self.maxDoubleJump !== "" ? Number(self.maxDoubleJump) : null;

                    var roadContainer = d3.select('#road-holder')
                    roadContainer.selectAll('*').remove();

                    eel.getMultiRoad(n = 10, longLen = maxLen, maxSingleLen = maxSingle, maxDoubleLen =
                            maxDouble, okRate = 0.5)()
                        .then(res => {
                            console.log(res);
                            self.multiRoads = res.multiRoad;
                        })
                        .catch(error => {
                            self.isLoading = true
                            console.log(error)
                        })
                        .finally(() => {
                            // self.isLoading = false
                            self.isFiltered = true;
                            self.isDone = true;
                        })
                },
                plotRoad: function (rc, svgNumber) {
                    let self = this;

                    var data = rc.result;
                    var static = rc.static;

                    const margin = {
                        top: 20,
                        right: 20,
                        bottom: 20,
                        left: 30
                    }

                    const circleR = 12

                    const width = 800;
                    const height = 300;

                    const innerWidth = width - margin.left - margin.right;
                    const innerHeight = height - margin.top - margin.bottom;


                    svgCheck = document.getElementById(`road${svgNumber}`)

                    if (svgCheck === null) {
                        var svg = d3.select('#road-holder')
                            .append('svg')
                            .attr('id', `road${svgNumber}`)
                            .attr('width', self.maxX * circleR * 2 * 1.1)
                            .attr('height', 300);

                    } else {
                        var svg = d3.select(`road${svgNumber}`);
                    }

                    self.chart = svg.append('g')
                        .attr('transform', `translate(${margin.left}, 0)`);

                    const roads = svg.selectAll('roadCell')
                        .data(data)
                        .enter().append('circle')
                        .attr('cx', d => (d.x + 1) * circleR * 2)
                        .attr('cy', d => (d.y + 1) * circleR * 2)
                        .attr('r', circleR)
                        .style('fill', d => d.fill)
                        .style('stroke', 'solid')
                        .style('stroke-color', d => d.fill);


                    const squares = svg.selectAll('sqCell')
                        .data(self.tableGrid)
                        .enter().append('rect')
                        .attr('x', d => (d.x + 0.5) * circleR * 2)
                        .attr('y', d => (d.y + 0.5) * circleR * 2)
                        .attr('width', circleR * 2)
                        .attr('height', circleR * 2)
                        .style('fill', "None")
                        .style('stroke', 'black')
                        .style('stroke-widht', '1px')

                    var div = document.createElement('div');
                    div.id = `static-${svgNumber}`
                    div.classList = 'static-div'
                    div.innerHTML = `
                        <p><strong>切牌位置: ${svgNumber}</strong></p>
                        <p>總路數: ${static.maxX}</p>
                        <p>最高長龍: ${static.maxLWE}</p>
                        <p>最長單跳: ${static.maxSingleJump}</p>
                        <p>最長雙跳: ${static.maxDoubleJump}</p>
                    `
                    var body = document.getElementById('road-holder');
                    body.appendChild(div);

                    var br = document.createElement('br');
                    body.appendChild(br);
                },
                showModal: function () {
                    let self = this;
                    var modal = new bootstrap.Modal(document.getElementById('model-test'), {
                        keyboard: true
                    });
                    self.showedPage = 0;
                    self.showedCard = self.realCards.slice(
                        0, 100
                    );
                    modal.show();
                },
                changeSets: function (val) {
                    let self = this;
                    console.log(val);
                    self.showedSets = val;
                }

            },
            computed: {
                tableGrid: function () {
                    let self = this;

                    var tableGrid = []
                    for (var i = 1; i < self.maxX + 1; i++) {
                        for (var j = 1; j < self.maxY; j++) {
                            tableGrid.push({
                                x: i,
                                y: j
                            })
                        }
                    }

                    return tableGrid
                },

            },
            mounted: function () {

            },
            watch: {

                showedSets: function (val) {
                    let self = this;

                    var roadContainer = d3.select('#road-holder');
                    roadContainer.selectAll('*').remove();

                    self.realCards = self.multiRoads[val].realCard;
                    self.currRoad = self.multiRoads[val].roads;
                    self.maxX = self.multiRoads[val].maxX;
                    self.maxY = self.multiRoads[val].maxY + 3;
                    self.filterStat = {
                        goodNumber: self.multiRoads[val].gCount,
                        goodRate: self.multiRoads[val].rate,
                        goodSets: self.multiRoads[val].matched,
                    }
                    for (var temp in self.currRoad) {
                        self.plotRoad(self.currRoad[temp]['maps'], temp)
                    }
                },

                showedPage: function (page) {
                    let self = this;

                    var cards = self.realCards.slice(page * 100, page * 100 + 100);

                    this.showedCard = cards;
                },

                multiRoads: function (mroads) {
                    let self = this;
                    self.realCards = mroads[self.showedSets].realCard;
                    self.currRoad = mroads[self.showedSets].roads;
                    self.maxX = mroads[self.showedSets].maxX;
                    self.maxY = mroads[self.showedSets].maxY + 3;
                    self.filterStat = {
                        goodNumber: mroads[self.showedSets].gCount,
                        goodRate: mroads[self.showedSets].rate,
                        goodSets: mroads[self.showedSets].matched,
                    }
                    for (var temp in self.currRoad) {
                        self.plotRoad(self.currRoad[temp]['maps'], temp)
                    }
                },


            }

        })
    </script>



</body>

</html>